.jsx-table {
    overflow: auto;
    position: relative;
}

.jsx-table div {
    box-sizing: border-box;
}


/* HEADER styles */
.jsx-table_header {
    color: #999;
    z-index: 2;
    border-bottom: 1px solid rgb(120, 120, 120);
    background-color: #f5f5f5;
}

.jsx-table__header-row-cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    border-right: 1px solid rgb(236, 236, 236);
}

.jsx-table__header-row-cell.sticky {
    /*background-color: rgb(180, 180, 180);*/
}

.jsx-table__header-row-cell:last-child {
    border-right: none;
}


/* BODY styles */
.jsx-table__body {
    overflow: auto;
    direction: ltr;
    position: relative;
}

.jsx-table__body.loading {
    opacity: 0.25;
}

.jsx-table__body-row {
    width: fit-content;
    position: absolute;
    display: grid;
    left: 0;
    will-change: position;
}

.jsx-table__body-row.odd {
}

.jsx-table__body-row.even {
}

.jsx-table__body-row.sticky {
    background-color: #f5f5f5;
    position: sticky;
    z-index: 2;
}

.jsx-table__body-row.sticky:last-child > div {
    border-bottom: 1px solid rgb(120, 120, 120);
}

.jsx-table__body-row:hover div {
    background-color: #dadada;
}

.jsx-table__body-row-cell:last-child {
    border-right: none;
}

.jsx-table__body-row-cell {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
    /*background-color: white;*/
    cursor: crosshair;
    width: 100%;
    height: 100%;
    will-change: position;
}

.jsx-table__body-row-cell.sticky {
    position: sticky;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgb(236, 236, 236);
    overflow-y: hidden;
    z-index: 2;
}

.jsx-table__body-row-cell.sticky.last {
    border-right: 1px solid rgb(120, 120, 120);
}


.jsx-table__body-row-cell-text, .jsx-table__header-row-cell-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jsx-table__body-nodata {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jsx-table__body-nodata-text {

}

.jsx-table__pagination {
    width: 100%;
    border-top: 1px solid rgb(236, 236, 236);
}
