.AwesomeTable {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaaaaa;
}

.AwesomeTable_header {
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #bababa;
  background-color: #f5f5f5;
}

.AwesomeTable__header-row {
  height: 100%;
  width: 100%;
  display: flex;
}

.AwesomeTable__header-row-cell {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  font-weight: bold;
  border-right: 1px solid #EBEBEB;
}

.AwesomeTable__header-row-cell:last-child {
  border-right: none;
}


.AwesomeTable__body {
  width: 100%;
  overflow: hidden;
}

.AwesomeTable__body.loading {
  opacity: 0.1;
}


.AwesomeTable__body-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #EBEBEB;
}


.AwesomeTable__body-row.selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.AwesomeTable__body-row.hidden {
  display: none;
}


.AwesomeTable__body-row:hover {
  background-color: #f0f0f0;
}

.AwesomeTable__body-cell:last-child {
  border-right: none;
}

/*TODO: change to body-row-cell*/
.AwesomeTable__body-cell {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-right: 1px solid #EBEBEB
}

.AwesomeTable__body-cell-text {
}

.AwesomeTable__body-nodata {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AwesomeTable__body-nodata-text {

}

.AwesomeTable__pagination {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
