body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 0;
  /*font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;*/
  font-size: 11px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

#root {
  width: 100vw;
  height: 100vh;
  /*background-image: linear-gradient(135deg, #2D3A62, #55375E);*/
}
