.AwesomeTable {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.AwesomeTable__body {
  width: 100%;
  overflow: hidden auto;
}

.AwesomeTable__body.loading {
  opacity: 0.1;
}
